@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-950 text-slate-50 font-sans;
}

::selection {
  @apply bg-cyan-300 text-slate-900;
}
